common --enable_platform_specific_config
build --strip=never
build --incompatible_enable_cc_toolchain_resolution
build --workspace_status_command=tools/workspace_status.sh
build --stamp

build --extra_toolchains //toolchain:arm_linux_gcc
build --extra_toolchains //toolchain:aarch64_linux_clang
build --extra_toolchains //toolchain:arm_none_gcc
build --extra_toolchains //toolchain:ppc_gcc
build --extra_toolchains //toolchain:ppc64_gcc
build --extra_toolchains //toolchain:ppc64le_gcc
build --extra_toolchains //toolchain:x86_64_clang
build --extra_toolchains //toolchain:x86_64_gcc

build:arm_linux --platforms=//platforms:arm_linux
build:aarch64_linux_clang --platforms=//platforms:aarch64_linux_clang
build:s32k --platforms=//platforms:s32k_evb
build:ppc --platforms=//platforms:ppc
build:ppc64 --platforms=//platforms:ppc64
build:ppc64le --platforms=//platforms:ppc64le
build:x86_64_clang --platforms=//platforms:x86_64_clang
build:x86_64_gcc --platforms=//platforms:x86_64_gcc

test:arm_linux --run_under="qemu-arm -L /usr/arm-linux-gnueabihf/ "
test:ppc --run_under="qemu-ppc -L /usr/powerpc-linux-gnu/ "
test:ppc64 --run_under="qemu-ppc64 -L /usr/powerpc64-linux-gnu/ "
test:ppc64le --run_under="qemu-ppc64le -L /usr/powerpc64le-linux-gnu/ "

# parallel tests break on a single vcan interface
test: --local_test_jobs=1 --test_output=all 
