Checks: '
  *,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-macro-to-enum,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-use-concise-preprocessor-directives,
'
WarningsAsErrors: ''