bazel-bin
bazel-iso14229
bazel-out
bazel-testlogs
bazel-out/k8-fastbuild/bin
bazel-out/k8-fastbuild/bin/iso14229.c
bazel-out/k8-fastbuild/bin/iso14229.h
codechecker_reports
codechecker_report
codechecker_cppcheck_reports
misra_rports
coverage_report
html
reports
.rsync-filter
test_iso14229
client
server
*.profdata
*.profraw
.gdb_history
fuzzer
*.o
.vscode
**/*.cache
**/build
**/sdkconfig*
release/
*.pem
*.der
compile_commands.json
MODULE.bazel.lock
coverage_html
misra_reports
**/*.ctu-info
**/*.dump
report.txt
json_report.json
cppcheck_reports
.venv
tools/cppcheck/misra_c_2023__headlines_for_cppcheck.txt
latex/
# Ignore binaries of doip example
examples/doip_client/doip_server
examples/doip_client/doip_client
