bazel-bin
bazel-out/k8-fastbuild/bin
codechecker_reports
codechecker_report
html
reports
.rsync-filter
test_iso14229
client
server
corpus
*.profdata
*.profraw
.gdb_history
fuzzer
*.o
.vscode
**/*.cache
**/build
**/sdkconfig*
release/
examples/**/iso14229.c
examples/**/iso14229.h
*.pem
*.der
compile_commands.json
MODULE.bazel.lock
iso14229.c
iso14229.h
html_report
misra_reports
**/*.ctu-info
**/*.dump
report.txt
json_report.json